/* Variables */
:root {
  --color-white: #000c17;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: hsla(240, 30%, 15%, 0.8);

  --color-primary: #f47b4e;
  --color-accent: #fde5dc;
  --color-dark: #dc6f46;

  --size-subheading: 1.125rem;
  --size-label: 1.125rem;
}

/* Grand Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

/* General Styles */

body {
  margin: 0;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-white);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(
    135deg,
    var(--color-accent),
    var(--color-primary)
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Utilities */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6rem 0;
}

.text-center {
  text-align: center;
  background-color: rgba(227, 245, 230);
  width: 72%;
  margin: 0 auto;
}

.description {
  font-size: var(--size-subheading);
  margin: 1rem auto;
  font-size: 1.5rem;
  font-weight: 500;
}

/* Header */
header {
  padding: 2rem 1rem 1rem 1rem;
}

h1 {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.5;
  font-size: 28px;
  font-family: "Dai Banna SIL", serif;
}

h2 {
  font-family: "Dai Banna SIL", serif;
  margin-bottom: -0.4rem;
}
.hint-of-header {
  color: #538455;
  font-size: 0.9rem;
  opacity: 0.7;
  margin-bottom: 1.1rem;
}
/* Form */
form {
  /* background: var(--color-darkblue-alpha); */
  padding: 2.5rem 3rem 0 3rem;
  /* border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem; */
  border-radius: 0.5rem;
  width: 40%;
  margin: auto;
}

.header-form {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.description-form {
  font-size: 15px;
  color: #555;
  font-weight: 500;
}

.survey-logo {
  width: 60px;
}

.form-group {
  display: flex;
  position: relative;
  flex-direction: column;
}

.form-group p {
  line-height: 1;
  margin: 0.5rem 0.1rem;
}

.form-group p:not(:nth-child(1)) {
  margin: 0.5rem 0;
}

.form-label {
  font-size: var(--size-label);
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
}

.form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  height: 2.5rem;
  padding: 0.375rem 0.75rem;
  border-radius: 0.3rem;
  border: 1px solid #dddddd;
  margin-top: 0.4rem;
}

textarea {
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  width: 100%;
  height: auto;
  border: none;
  margin: 0.5rem 0;
  resize: none;
  border: 1.5px solid var(--color-accent);
  background-color: var(--color-accent);
  border-radius: 0.4rem;
  margin-bottom: 1.2rem;
  padding: 1rem;
  transition: all 0.3s;
}

textarea:focus-visible {
  outline: none;
  border: 1.5px solid var(--color-primary);
  background-color: #fff;
}

.submit {
  /* position: absolute; */

  margin: 2rem auto 2rem auto;
  background-color: var(--color-primary);
  border: none;
  padding: 6px;
  border-radius: 100px;
  font-family: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.submit-text {
  color: #f5f7f7;
  font-size: 0;
  transition: font-size 0.4s;
}

.submit:hover {
  gap: 5px;
  padding: 6px 16px;
  background-color: var(--color-dark);
}

.submit:hover .submit-text {
  font-size: 16px;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  justify-content: center;
  background-color: #8ce99a;
  text-align: center;
  margin: 0;
}

.label-general {
  display: inline-block;
  margin-bottom: 0.7rem;
}

.dropdown {
  display: inline-block;
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 1.2rem;
}

.selected-option {
  cursor: pointer;
  font-size: 16px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.options {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--color-accent);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.options li {
  padding: 12px;
  cursor: pointer;
}

.options li:hover {
  background-color: #fbcab8;
}

.open .options {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(135deg);
  border: solid #777;
  border-width: 0 2px 2px 0;
  padding: 3px;
  margin-right: 6px;
  display: inline-block;
  z-index: 2;
  transition: transform 0.3s ease;
}

.open .arrow {
  transform: translateY(-50%) rotate(45deg);
}

.file-input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  padding: 0.8rem 0;
  border-radius: 5px;
  border: 2px dashed var(--color-primary);
}

.cloud-icon {
  width: 6rem;
  height: 6rem;
  color: var(--color-primary);
}

input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#fileName {
  margin-top: 10px;
}

#imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.upload {
  color: white;
  background-color: var(--color-primary);
  border: none;
  outline: none;
  padding: 7px 20px;
  border-radius: 8px;
  margin: 4px;
  margin-bottom: 8px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  z-index: 1;
  transition: all 0.3s;
}

.upload:hover {
  background-color: var(--color-dark);
}

.list-section {
  display: none;
  text-align: left;
  margin: 2rem 0 0 0;
  padding-bottom: 20px;
}
.list-section .list-title {
  font-size: 0.95rem;
  color: #000c17;
}
.list-section li {
  display: flex;
  margin: 15px 0px;
  padding-top: 4px;
  padding-bottom: 2px;
  border-radius: 8px;
  transition-duration: 0.2s;
}
.list-section li:hover {
  /* box-shadow: #e3eaf9 0px 0px 4px 0px, #e3eaf9 0px 12px 16px 0px; */
}

.list-section li .col .file-name span {
  color: #888;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.upload-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fde5dca9;
  border-radius: 10px;
  padding: 0.7rem 2rem;
  gap: 10px;
  margin: 0 auto;
  width: 85%;
}

.file-icon {
  color: #dc6f46;
  width: 48px;
  height: 48px;
}

.file-name {
  width: 200px;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
}

.file-name .name {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.file-size {
  font-size: 13px;
  color: #666;
}

/* Mobile Responsiveness */

@media all and (max-width: 1141px) {
  form {
    width: 80%;
  }
}

@media all and (max-width: 540px) {
  form {
    width: 95%;
  }
}

@media all and (max-width: 440px) {
  form {
    padding: 0.625rem;
  }

  .form-group {
    margin: 1rem 0;
  }

  .form-group p {
    line-height: 1.4;
    margin: 0.5rem 0.1rem;
  }
}

@media all and (max-width: 320px) {
  /* nothing here */
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-accent);
}

/* Style the scrollbar thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 6px;
  transition: none 0.3s;
  padding: 10px;
}

/* Change the thumb color when the scrollbar is hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-dark);
}
